@import 'Src/styles/variables';

.timerCard {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.currentTime {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 40px;
}

.button {
  padding: 7px 15px;
  background-color: $purple;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.item {
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
  list-style-type: none;
}
