@import 'Src/styles/variables';

.cardsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  }

  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  }
}

.card {
  list-style-type: none;
}
